@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Remove default styles of number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  /* Firefox */
  appearance: textfield;
  -moz-appearance: textfield;
}

h1 {
  @apply text-3xl font-semibold;
}

h2 {
  @apply text-2xl font-semibold;
}

code {
  @apply mx-1 rounded-md bg-slate-200 px-2;
}
